# macOS files ----
.DS_Store

# History files ----
.Rhistory
.Rapp.history

# Session Data files ----
.RData
.Ruserdata

# RStudio files ----
*.Rproj
.Rproj.user/

# R Environment Variables ----
.Renviron

# User-specific files ----
README.html
inst/doc
man/
NAMESPACE
analyses/ignore_repo/
figures/
data/raw-data/
31_Tutorial_VU_6_archip_BM.html
31_Tutorial_VU_6_archip_BM.log
31_Tutorial_VU_6_archip_BM.tex
31_Tutorial_VU_6_archip_BM.Rmd